// A previous version of styles.scss. No longer used, but saved here.
// This file will not be processed, since it's not imported anywhere.

@import "./_test.scss"; // Using this temporarily to test partials

div[class^="greeting-"] {
    font-family: "Avenir";
    font-size: 18;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.5s all;

    $hello-color: lighten(#3b64d3, 20%);
    $goodbye-color: lighten(#9134c1, 20%);
    $hey-color: lighten(#34c19f, 20%);

    &.greeting-hello {
        color: $hello-color;
        background-color: darken(saturate($hello-color, 20%), 40%); //#122a6b;
    }

    &.greeting-goodbye {
        color: $goodbye-color;
        background-color: darken(saturate($goodbye-color, 20%), 40%);
    }

    &.greeting-hey {
        color: $hey-color;
        background-color: darken(saturate($hey-color, 20%), 40%);
    }

    &:hover {
        box-shadow: 0 7px 0px;
    }
}