$hello-color: lighten(#3b64d3, 20%);
$goodbye-color: lighten(#9134c1, 20%);
$hey-color: lighten(#34c19f, 20%);

%greeting {
    font-family: "Avenir";
    font-size: 18;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.5s all;

    &:hover {
        box-shadow: 0 7px 0px;
    }
}

.greeting-hello {
    @extend %greeting;
    color: $hello-color;
    background-color: darken(saturate($hello-color, 20%), 40%);
}

.greeting-goodbye {
    @extend %greeting;
    color: $goodbye-color;
    background-color: darken(saturate($goodbye-color, 20%), 40%);
}

.greeting-hey {
    @extend %greeting;
    color: $hey-color;
    background-color: darken(saturate($hey-color, 20%), 40%);
}